// Place all the styles related to the public/bouquets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: fertigo-script, sans-serif;
  width: 90%;
  padding: 15px 0;
  margin: 30px auto 0;
  text-align: center;
  border-top: solid 5px #000000;
  background-color: #FDF5E6; /* 背景色を半透明の黒にする */
}

header .headline {
  font-size: 32px;
}

nav {
  width: 880px;
  margin: 0 auto;
  border-top: solid 0.7px #000000;
  border-bottom: solid 0.7px #000000;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

main {
  width: 880px;
  margin: 0 auto;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
  
}

.list-box {
  width: 200px;
  height: 200px;
  margin: 10px;
  
}

.list-comment {
  width: 200px;
}

