// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.body-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-cotent: center;
  text-align: center;
  font-family: fertigo-script, sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  color: white;
}

.body-content {
  width: 30%; /* 横幅40% */
  height: 300px; /* 親の高さに揃える */
  background-color: rgba( 0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-cotent: center;
  text-align: center;
  font-family: fertigo-script, sans-serif;
  font-weight: 100;
  font-size: 22px;
  font-style: normal;
  color: white;
  bottom: 0;
}


body video {
  margin: 0;
  padding: 0;
  object-position: center top;
  opacity: var(--video-opacity);
  object-fit: cover;
}

.body-text,
body video{
  width: 100vw;
  height: 120vh;
}
