
<html>
<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Video Sample</title>
  <!-- adobe fonts -->
  <link rel="stylesheet" herf="https://unpkg.com/destyle.css@1.0.5/destyle.css">
  <link rel="stylesheet" href="https://use.typekit.net/rzs2suz.css">
</head>

<body>
  <div class="body-text">
    <h1 class="body-name">
      flower dictionary
    </h1>
    <!--<h1 class="header-sentence"><%#= link_to "ENTER", public_bouquets_path %></h1>-->
  </div>
  <div class="body-content">
    <p class="body-sentence">
      <p>For everyone who loves flowers</p>
      <p>For thoes who want to know the meaning of flowers</p>
      <p>a website for those of you</p>
    </p>
  </div>
    <%= link_to public_bouquets_path do %>
    <%= video_tag("/assets/videos/mixkit-view-to-the-sideboard-of-a-flower-shop-4742.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <%#= video_tag("/assets/videos/Sunflower field.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <!--<video src="/flower_dictionary/public/assets/videos/Sunflower field.mp4" autoplay loop muted></video>-->
    <% end %>
</body>

</html>